<?xml version="1.0" encoding="utf-8"?><configuration>    <configSections>            <section name="keeperConfig" type="Keeper.OfScripts.Configuration.KeeperConfigSection, Keeper.OfScripts" />    </configSections>        <keeperConfig>        <aliases>            <clear />            <add alias="jQuery" source="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" residence="remote" />                   </aliases>    </keeperConfig>     </configuration>